h1,
h2,
p {
  text-align: center;
}

h1, h2 {
  font-family: Impact, serif;
}

body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
}

.menu {
  width: 80%;
  max-width: 500px;
  background-color: burlywood;
  margin: auto;
  padding: 20px 20px 20px 20px;
}
.item {
  display: flex;
}

.item p {
  display: inline-block;
 }

 .flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}
